@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap');

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: translateY(-10%);
}

form h2 {
  color: #343433;
  font-size: 36px;
  margin-bottom: 30px;
}

form .form-group {
  margin-bottom: 1.5em;
}

form label {
  display: block;
  color: #343433;
  font-size: 15px;
  margin-bottom: 5px;
}

form input {
  appearance: none;
  background: none;
  outline: none;
  border-color: #444;
}

form input:not([type='submit']) {
  display: block;
  padding: 15px 30px;
  border-radius: 99em;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 0.4s;
  color: #444;
  font-size: 18px;
  font-weight: 300;
}

form input:not([type='submit'])::placeholder {
  color: var(--color-darkgrey);
  font-family: 'Karla', sans-serif;
}

form input:focus,
form input:valid {
  background-color: #fff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


form button {
  /* appearance: none;
  background: none;
  outline: none; */
  border-color: #343433;
}

form button[type='submit'] {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 99em;
  background-color: #444;
  box-shadow: 0px 0px 0px rgba(219, 155, 155, 0);
  transition: 0.4s;
  color: var(--color-lightgrey);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

form button:not([type='submit']):hover,
form button:not([type='submit']):valid {
  background-color: var(--color-darkred);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


form button[type='submit']:hover {
  background-color: var(--color-darkgrey);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
